Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-explicit-virtual-functions,
  modernize-*,
  -modernize-use-override,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-redundant-virtual,
  -readability-uppercase-literal-suffix,
  bugprone-*,
  portability-*,
  misc-*,
  readability-braces-around-statements

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: 0   # forces braces even for one-line statements

HeaderFilterRegex: '.*'
FormatStyle: none
SystemHeaders: false  